/* General Container */
.booking-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Title and Subtitle */
  .booking-title {
    font-size: 40px;
    font-family: 'Regular';
    color: #495E57;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .booking-subtitle {
    font-size: 18px;
    font-family: 'Medium';
    color: #495E57;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Form Elements */
  .booking-form {
    display: flex;
    flex-direction: column;
  }
  
  .booking-label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495E57;
  }
  
  .booking-input, 
  .booking-textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
    margin-bottom: 20px;
    outline: none;
  }
  
  .booking-input:focus, 
  .booking-textarea:focus {
    border-color: #495E57;
  }
  
  /* Textarea Style */
  .booking-textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  /* Submit Button */
  .booking-button {
    padding: 15px;
    font-size: 18px;
    background-color: #F4CE14;
    color: #495E57;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  .booking-button:hover {
    background-color: #E5BD13;
  }
  