#logo{
    width: 250px;
    height: 60px;
}

.Nav{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

#navlist{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#navlist li{
    font-size: 20px;
    list-style: none;
    
}

#navlist li a{
    font-size: 20px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    
}